doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/stylle.css")
        title Document
    body 
        header#header 
           #container
              img.img(src="../img/9.png.png", alt="")
              #logo 
                
                #img  
                   img.img1(src="../img/menu.png", alt="")
                   img.img2(src="../img/youtube-logo.png", alt="")
                   img.img3(src="../img/Frame 4.png", alt="")
                input(type="search" placeholder="search")
                button 
                   img(src="../img/search.png", alt="")
              #left 
                 nav#navbar 
                    ol 
                      li 
                        img(src="../img/Frame 2 (4).png", alt="")
                      li 
                        img(src="../img/Frame 2 (3).png", alt="")
                      li 
                        img(src="../img/Frame 2 (2).png", alt="")
                      li 
                        img(src="../img/Frame 2.png", alt="") 
                 nav#navbar2 
                    ol 
                      li 
                        img(src="../img/Frame 2 (6).png", alt="")
                      li 
                        img(src="../img/Frame 24.png", alt="")
                      li 
                        img(src="../img/Frame 23.png", alt="")
                      li 
                        img(src="../img/Frame 2 (5).png", alt="")
                      li 
                        img(src="../img/Frame 290.png", alt="")
                      li 
                        img(src="../img/1202.png", alt="")
                 nav#navbar3 
                    ol 
                      li 
                        img(src="../img/SUBRCRIPTIONS.png", alt="")
                      li 
                        img(src="../img/1.png", alt="")
                      li 
                        img(src="../img/2.png", alt="")
                      li 
                        img(src="../img/3.png", alt="")
                      li 
                        img(src="../img/4.png", alt="")
                      li 
                        img(src="../img/5.png", alt="")
                      li 
                        img(src="../img/6.png", alt="")
                      li 
                        img(src="../img/7.png", alt="")
                 img#img(src="../img/8.png", alt="")
              #card
        script(src="../app.js") 